@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .grid-areas-layout {
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }

  .grid-in-header {
    grid-area: header;
  }

  .grid-in-main {
    grid-area: main;
  }

  .grid-in-footer {
    grid-area: footer;
  }
}
